.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
}

/* POST CARDS //////////////////////////////// */

#post {
  border: 1px solid black;
  width: fit-content;
  margin: auto;
  margin-top: 22px;
  margin-bottom: 22px;
}

#post-header {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
}

img {
  width: 650px;
  height: 470px;
  object-fit: cover;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#post-note {
  max-width: 603px;
  margin: auto;
  padding: 2px 0px 10px 0px;
  word-wrap: break-word;
}

hr {
  border: none;
  height: 1px;
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
  margin: 0px 0px 5px 0px;
}

/* /////////////////////////////////////////// */

/* WELCOME - HOME PAGE /////////////////////// */

#welcome button {
  font-size: 17px;
  display: block;
  padding: 14px 16px;
  margin: auto;
  margin-top: 20px;
  width: 366px;
}

/* /////////////////////////////////////////// */

/* LOGIN - SIGNUP PAGES ////////////////////// */

#account-form {
  width: fit-content;
  margin: 0 auto;
}

form input {
  display: block;
  width: 330px;
  font-size: 17px;
  margin-top: 20px;
  padding: 14px 16px;
}

form input:last-of-type {
  margin: auto;
  margin-top: 20px;
  width: 366px;
}

#form-bottom {
  display: flex;
  justify-content: center;
}

#margin-space {
  margin-left: 5px;
}

#error-text {
  color: red;
  font-weight: 500;
  margin: auto;
  word-wrap: break-word;
  width: 357px;
}

/* /////////////////////////////////////////// */